/* extra small device */
@media (min-width:320px) and (max-width:575px) {
    /* banner part */
    #banner__section{
        height: 100%;
    }
    #banner__section .banner__text{
        width: 320px;
        background: rgba(0, 0, 0,.9);
        padding: 15px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        
    }
    #banner__section .banner__text h4{
        font-size: 18px;
        margin-bottom: 20px;
    }
    #banner__section .banner__text h4 span{
        font-size: 28px;
        margin-bottom: 5px;
    }
    #banner__section .banner__text .banner__button a{
        width: 280px;
        margin-bottom: 20px;

    }

    /* about part */
    #about__section .about__text h2{
        font-size: 40px;
    }
    #about__section .about__text p{
        padding-right: 15px;
    }
    #about__section .about__text a{
        margin-top: 30px;
    }
    .about__img .d-flex{
        flex-direction: column !important;
    }
    #about__section .about__img img{
        width: 270px;
        height: 296px;
        margin-top: 30px;
    }
    #about__section .about__img .qualifiction {
        width: 270px;
        height: 296px;
        padding: 10px;
        padding-right: 0;
        margin-left: 0;
        margin-top: 25px;
    }

  #about__section .about__img .qualifiction h3 {
    margin-bottom: 5px;
    text-align: center;
    padding-top: 15px;
   }
   #about__section .about__img--details svg{
       display: none;
   }
    /* navs and tabs */
    .nabs__tabs--button ul{
        padding-left: 45px;
    }
    .nabs__tabs--button ul li button{
        width: 210px;
    }
    .nabs__tabs--button ul li .brd__lft{
        border-top-right-radius: 8px !important;
        border-bottom-left-radius: 0px !important;
    }
    .nabs__tabs--button ul li .brd__rgt{
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
    }
    .nabs__tabs--contents p{
        padding: 0 !important;
        font-size: 14px;
    }
    .sub-content img {
        display: block;
        width: 100%;
    }
    .nabs__tabs--contents .sub--nabs__tabs--contents .sub-content h6{
        font-size: 24px;
    }
    .nabs__tabs--contents .sub--nabs__tabs--contents .sub-content .div p{
        font-size: 14px;
    }
    
    .nabs__tabs--contents .sub--nabs__tabs--contents .sub-content a {
        padding: 8px;
        font-size: 14px;
        margin: 8px 0;
    }
    .nabs__tabs--contents .basket__plan a{
        width: 250px;
    }
    .nabs__tabs--contents .sub--nabs__tabs ul{
        font-size: 14px;
    }
    .instra__gram .overlay__instra ul li{
        font-size: 13px;
    }
    .instra__gram--2 .overlay__instra ul li{
        padding: 60px 34px;
    }
    .instra__gram--3 .overlay__instra ul li{
        padding: 42px 34px;
    }
    .instra__gram--5{
        overflow: hidden;
    }
    .instra__gram--5 .overlay__instra ul li {
        padding: 144px 35px !important;
    }
    .instra__video{
        width: 97%;
    }
}
/*  small device */
@media (min-width:576px) and (max-width:767px) {
    /* banner part */
    #banner__section .banner__text{
        width: 400px;
    } 
    #banner__section{
      height: 100%;
    }
    #banner__section .banner__text h4{
        font-size: 18px;
        margin-bottom: 20px;
    }
    #banner__section .banner__text h4 span{
        font-size: 50px;
        margin-bottom: 5px;
    }
    #banner__section .banner__text .banner__button a{
        width: 280px;
        margin-bottom: 20px;
    }

    /* about part */
    #about__section .about__text h2{
        font-size: 40px;
    }
    #about__section .about__text p{
        padding-right: 15px;
    }
    #about__section .about__text a{
        margin-top: 30px;
    }
    /* navs and tabs */
    .nabs__tabs--button ul li button{
        width: 172px;
        font-size: 16px;
    }
    .nabs__tabs--contents p{
        padding: 0 !important;
        font-size: 14px;
    }
    .sub-content img {
        display: block;
        width: 100%;
    }
    .nabs__tabs--contents .sub--nabs__tabs--contents .sub-content h6{
        font-size: 24px;
    }
    .nabs__tabs--contents .sub--nabs__tabs--contents .sub-content .div p{
        font-size: 14px;
    }
    .nabs__tabs--contents .sub--nabs__tabs--contents .sub-content a {
        padding: 8px;
        font-size: 14px;
        margin: 8px 0;
    }
    .instra__gram .overlay__instra ul li{
        font-size: 14px;
    }
    .nabs__tabs--contents .sub--nabs__tabs ul{
        font-size: 14px;
    }
    .instra__gram .overlay__instra ul li{
        padding: 76px 34px;
    }
    .instra__gram--2 .overlay__instra ul li{
        padding: 87px 34px;
    }
    .instra__gram--3 .overlay__instra ul li{
        padding: 76px 34px;
    }
    .instra__gram--5{
        overflow: hidden;
    }
    .instra__gram--5 .overlay__instra ul li {
        padding: 207px 35px !important;
    }
    .instra__video{
        width: 97%;
    }
}
/*  medium device */
@media (min-width:768px) and (max-width:991px) {
    /* banner part */
    #banner__section .banner__text{
        width: 450px;
}
    #banner__section{
        height: 100%;
    }
    #banner__section .banner__text h4{
        font-size: 20px;
        margin-bottom: 20px;
    }
    #banner__section .banner__text h4 span{
        font-size: 52px;
        margin-bottom: 5px;
    }
    #banner__section .banner__text .banner__button a{
        width: 280px;
        margin-bottom: 20px;
    }

    /* about part */
    #about__section .about__text h2{
        font-size: 40px;
    }
    #about__section .about__text p{
        padding-right: 15px;
    }
    #about__section .about__text a{
        margin-top: 30px;
    }
    
    .nabs__tabs--contents p{
        padding: 0 !important;
        font-size: 14px;
    }
    .sub-content img {
        display: block;
        width: 100%;
    }
    .nabs__tabs--contents .sub--nabs__tabs--contents .sub-content h6{
        font-size: 24px;
    }
    .nabs__tabs--contents .sub--nabs__tabs--contents .sub-content .div p{
        font-size: 14px;
    }
    .nabs__tabs--contents .sub--nabs__tabs--contents .sub-content a {
        padding: 8px;
        font-size: 16px;
        margin: 8px 0;
    }
    .nabs__tabs--contents .sub--nabs__tabs ul{
        font-size: 14px;
    }
    /* instragram part */
    .instra__gram{
        overflow: hidden;
    }
    .instra__gram .overlay__instra ul li{
        font-size: 14px;
        padding: 25px 50px;
    }
    .instra__gram--5 .overlay__instra ul li {
        font-size: 14px !important;
        padding: 219px 117px !important;
    }
  
    .instra__video{
        width: 97%;
    }
    .contact__text{
        padding-top: 25px;
    }
}
/* large device */
@media (min-width:992px) and (max-width:1199px) {
    #banner__section{
        height: 100%;
    }
    #banner__section .banner__text{
        width: 500px;
        margin-top: 50px;
    } 
    #banner__section .banner__text h4{
        font-size: 24px;
        margin-bottom: 20px;
    }
    #banner__section .banner__text h4 span{
        font-size: 48px;
        margin-bottom: 5px;
    }
    #about__section .about__text h2{
        font-size: 40px;
    }
}
/* extra large device */
@media (min-width:1200px) and (max-width:1365px) {
    #banner__section{
        height: 100%;
    }
    #banner__section .banner__text{
        width: 500px;
        margin-top: 50px;
    } 
    #banner__section .banner__text h4{
        font-size: 24px;
        margin-bottom: 20px;
    }
    #banner__section .banner__text h4 span{
        font-size: 48px;
        margin-bottom: 5px;
    }
    #about__section .about__text h2{
        font-size: 40px;
    }
}
/* extra extra large device */
@media (min-width:1367px) and (max-width:1860px) {
    #banner__section{
        height: 100%;
    }
    #banner__section .banner__text{
        width: 500px;
        margin-top: 50px;
    } 
    #banner__section .banner__text h4{
        font-size: 24px;
        margin-bottom: 20px;
    }
    #banner__section .banner__text h4 span{
        font-size: 48px;
        margin-bottom: 5px;
    }
    #about__section .about__text h2{
        font-size: 40px;
    }
}